@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  width: 100vw;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: "Poppins", sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100);

#loading {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  border-top-color: #3cc3bc;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
